@import "../../global.scss";

.mystory {
    display: flex;
    max-height: 700px;

    .left{
        flex: 0.5;
        position: relative;
        overflow: hidden;
        .wrapper{
            margin-top: 50px;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            button{
                border: none;
                background-color: white;
                cursor: pointer;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
                color: $mainColor;
                margin-bottom: 20px;
            }

            .text{
                font-size: 15px;

                span{
                    font-weight: bold;
                    color: #3fafaa;
                }
            }
        }  
    }

    .right{
        flex: 0.7;
        overflow: hidden;
        margin-left: 50px;
        .imgContainer{
            display: flex;
            align-items: flex-end;
            justify-content:center;
            float: right;

            img{
                height: 90%;
            }
        }
    }
    
}



