@import "../../global.scss";

.topbar{
    width: 100%;
    height: 70px;
    background-color: white;
    color: $mainColor;
    display:flex;
    align-items: center;
    justify-content: space-between;

    .logo{
        font-size: 30px;
        font-weight: 700;
        color: inherit;
        text-decoration: none;
        margin-right: 2rem;
        margin-left: 2rem;
    }
}