@import "../../global.scss";

.tcc {
    display: flex;
    z-index: 2;

    .left{
        flex: 0.4;
        overflow: hidden;
        .imgContainer{
            
            display: flex;
            align-items: flex-end;
            justify-content:center;
            float: right;

            img{
                height: 90%;
            }
        }
    }
    .right{
        flex: 0.5;
        position: relative;
        z-index: 3;
        .wrapper{
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            

            h1{
                font-size: 60px;
                margin: 10px 0;
            }
            h2{
                font-size: 35px;
            }
            h3{
                font-size: 30px;
                color: $mainColor;
                margin-bottom: 10px;
            }
        }
        
    }
}